
.icon-home:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-award:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */