body
{
	margin: 0;
	background-color: #ffffff;
	color: #efefef;
	font-family: 'Audiowide', 'Times New Roman', cursive;
    font-size: 17px;
}

html 
{
    scroll-behavior: smooth;
}

:root {
    --mainColor: #434859 !important;
}

.navbar
{
	min-height: 57px;
	border-bottom: 1px solid black;
}

.bg-nav
{
	background-color: var(--mainColor);
	-webkit-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.36);
	box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.36);
}

.eng
{
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
	color: var(--mainColor);
}

.photo
{
	margin-bottom: 10px;
	margin-top: 10px;
}

.photoFeatures
{
	padding: 60px;
}

.center
{
	text-align: center;
	margin-top: 40px;
}

.text
{
	text-align: center;
}

.buttonStyle
{
	-webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	-moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);	
	margin: 20px 3px 0px 3px;
	width: 100%;
	font-size: 15px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	opacity: 0.7;
}

.bg-footer
{
	background-color: var(--mainColor);
	border-top: 1px solid black;
	-webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	-moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);	
}

.portfolio
{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 46px;
	color: var(--mainColor);	
}

.aboutMe
{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 46px;
	color: var(--mainColor);	
}

.projectName
{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 46px;
	color: var(--mainColor);	
}

.contact
{
	text-align: left;
	font-size: 18px;
	color: var(--mainColor);	
	padding: 16px;
	font-weight: bold;
}

.contactProject
{
	text-align: center;
	margin-bottom: 70px;
	margin-top: 10px;
	font-size: 46px;
	color: var(--mainColor);	
}


.aboutMeText
{
	margin: 0px 60px 30px 60px;/*g,p,d,l*/
	color: var(--mainColor);
	font-size: 18px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
}

.textInCard
{
	color: var(--mainColor);	
	font-family: 'Roboto', sans-serif;
}

.certificate
{
	cursor: pointer;
	text-decoration: none;
}

.avatar
{
	margin-top: -5rem;
}

.containerProject
{
	position: relative;
	overflow: hidden;
}

.projectTitle {
	position: absolute; 
	bottom: 0; 
	background: rgba(0, 0, 0, 0.4); /* Black see-through */
	color: #f1f1f1; 
	width: 100%;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	text-shadow: 2px 3px 4px #000000;
}

.title {
	bottom: 0; 
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1; 
	width: 100%;
	font-size: 18px;
	padding: 15px;
	text-align: center;
	text-shadow: 2px 3px 4px #000000;
}

h3.title {
	margin: 0;
}

.paddingDefault
{
	padding: 0px;
}

.projectDescritpion
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.photoProject
{
    width: 100%;
	height: 100%;
}

.photoProject:hover .boxText
{
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
}

.project2
{
	opacity: 1;
    transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
	transition: transform 0.2s ease-in-out;
}

.project2:hover
{
	opacity: 0.6;
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
	transform: scale(1.02);
}

.contactIcon
{
	color: var(--mainColor);
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}

.contactText
{
	color: var(--mainColor);
	text-align: center;
	font-size: 24px;
	text-decoration: none;
}

.contactText a
{
	color: var(--mainColor);
	text-align: center;
	font-size: 24px;
	text-decoration: none;
}

.contactInscription
{
	padding: 10px 30px;
}

.contactBox
{
	border: 1px solid #b8babf;
	background-color: #efefef;
	padding: 10px 0;
	transition: transform 0.2s ease-in-out;
}

.contactBox:hover
{
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

.contactBigBox
{
	margin-bottom: 0px;
	margin-top: 100px;
}

.projectCompetitions
{
	text-align: left;
	padding: 20px 10px 10px 20px;
}

.myProjects
{
	background-color: #efefef;
	color: var(--mainColor);
	margin-bottom: 60px;
	border: 1px solid #b8babf;
}

.projectPhoto
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0;
}

.boxText2
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.seeText2
{
	position: absolute;
	color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
	text-shadow: 2px 3px 4px #000000;
}

.projectPhoto:hover .boxText2{
	transition: opacity 1.0s ease-in-out;
	opacity: 1;
}

.projectPhoto img 
{
	width: 100%;
    height: 100%;
	transition: transform 0.5s ease-in-out;
}

.projectPhoto:hover img
{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.detailIcon
{
	font-size: 18px;
	padding: 12px;
	font-family: 'Roboto', sans-serif;
}

.detailIcon2
{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	margin-left: 38px;
}

.projectLine
{
	margin-left: 15px;
}

.projectNewLine
{
	margin-left: 55px;
}

.degrees
{
	padding-left: 25px;
	margin-bottom: 0px;
}

.education
{
	padding-left: 25px;
	margin-bottom: 0px;
}

.subsection
{
	margin-bottom: 0px;	
}

@media only screen and (max-width: 960px) 
{
  .aboutMeText
  {
	font-size: 16px;
	text-align: center;
  }

  .portfolio
  {
	  margin-top: 30px;	
  }

  .photo
  {
	margin-top: 50px;
  }
  
  .project
  {
	border: 1px solid #b8babf;
	position: relative;
	margin-bottom: 30px;
  }
  
  .contact
  {
	margin-top: 40px;
  }

  .contactBigBox
  {
	margin-top: 40px;
  }
  
  .projectName
  {
	font-size: 40px;
  } 
  
  .projectCompetitions
  {
	text-align: center;
	padding: 40px 30px 20px 30px;
  }
  
  .detailIcon
  {
	font-size: 21px;
	padding: 14px;
  }
  
  .projectLine
  {
	margin-left: 8px;
  }
  
  .photoFeatures
  {
	padding: 20px 60px 20px 60px;
  }
}




